# Decisiontree

In [36]:
import pandas as pd
from sklearn import tree, metrics, model_selection

In [37]:
dataset = pd.read_csv('car.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'])
dataset.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [39]:
dataset['class'],class_names = pd.factorize(dataset['class'])

In [40]:
dataset['buying'],_ = pd.factorize(dataset['buying'])
dataset['maint'],_ = pd.factorize(dataset['maint'])
dataset['doors'],_ = pd.factorize(dataset['doors'])
dataset['persons'],_ = pd.factorize(dataset['persons'])
dataset['lug_boot'],_ = pd.factorize(dataset['lug_boot'])
dataset['safety'],_ = pd.factorize(dataset['safety'])
dataset.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [42]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]


X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

In [43]:

dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [44]:
y_pred = dtree.predict(X_test)

accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.82

In [45]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 96

In [46]:
print(metrics.confusion_matrix(y_test,y_pred))

[[350  13   0   0]
 [ 42  73   0   0]
 [  0  16   0   0]
 [  0  25   0   0]]

In [47]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.96      0.93       363
           1       0.57      0.63      0.60       115
           2       0.00      0.00      0.00        16
           3       0.00      0.00      0.00        25

    accuracy                           0.82       519
   macro avg       0.37      0.40      0.38       519
weighted avg       0.75      0.82      0.78       519

/home/sjcet/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/sjcet/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/sjcet/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))